# Virtual environment
venv/
.venv/
env/

# Python cache
__pycache__/
*.pyc
*.pyo

# Environment variables
.env

# VS Code
.vscode/

# macOS
.DS_Store

# Build/dist
dist/
build/
*.egg-info/

# ROS build artifacts
devel/
install/
logs/
log/

# ROS log files
*.bag
*.bag.active

# Catkin / Colcon
.catkin_workspace
.catkin_tools/
